.google_logo {
    display: block;
    margin: 0 auto;
}

.searchbar {
    width: 584px;
    max-width: 584px;
    position: relative;
    margin: 0 auto;
}

.searchbar input {
    text-align: center;
    outline: none;
    padding: 5px 8px 0px 14px;
    width: 560px;
    height: 39px;
    border: 1px solid #dfe1e5;
    border-radius: 120px;
    border-width: 1px;
    
}

.search {
    position: absolute;
    left: 0;
}

.mic {
    position: absolute;
    right:0;
}